* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.main-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 50vh;
}

#main-text {
  font-size: 6rem;
}

#translation {
  font-size: 4rem;
}

#connect-buttons {
  position: absolute;
  top: 1.5rem;
  left: 1.5rem;
  display: flex;
  gap: 1rem;
}

#connect-buttons button {
  cursor: pointer;
  border: none;
  border-radius: 8px;
  padding: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
}

#connect-buttons button:hover {
  background-color: #f0f0f0;
}

#chart-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

#steno-chart {
}
