* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.main-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 50vh;
}

#main-text {
  font-size: 6rem;
}

#translation {
  font-size: 4rem;
}

#connect {
  cursor: pointer;
  border: none;
  border-radius: 8px;
  position: absolute;
  margin: 1.5rem;
  padding: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
  top: 0;
  left: 0;
}
#connect:hover {
  background-color: #f0f0f0;
}

#chart-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

#steno-chart {
}
